<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<title>Sign Up</title>
<meta charset="UTF-8">

<body>
    <p>Sign up successful.
        you can now <a href="login">log in</a> </p>
    </p>
</body>

</html>