<!DOCTYPE html>
<html lang="fr">

<head>

</head>

<body>
    <div class="confirmation">Vous etes connecté !</div>
</body>
<style>
    html {
        background-color: black;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

</html>